* { 
  margin: 0px;
  padding-top: 0px;
  box-sizing: border-box;

}
@font-face {    
    src:local('Nexa Light'), url('../fonts/NexaLight.woff') format('woff');
    src:local('Nexa Bold'), url('../fonts/NexaBold.woff') format('woff');

}
body{
  background: #000000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Nexa Light';
}

.logochico{
	height: auto;
	width: 100px;
}


/* atributos modal */
.modal-header{
  border-bottom: 0px;
}
.porfolio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px){
  .porfolio{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 500px){
  .porfolio{
    grid-template-columns: 1fr;
    grid-gap: 20px;

  }
}

.modal-content{
  background: black;
 /* background-image: url(../imagen/bg_modal.png); */
  background-repeat: no-repeat;


}
.modal-lg { 
  max-width: 95% !important;
} 
.modal-dialog {
  width: 98%;
  height: 100%;
  padding: 0;
}
.modal-body{
  font-size: 24px;
  text-align: center !important;
  position: center !important;
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
  margin: 0 auto;
}
.modal-content {
  height: 99%;
}
.porfolio p{
  margin-bottom: 0px;
  font-size: 20px;
}
.porfolio a{
  font-size: 15px;
  text-decoration: none;
  color: #d79f91;

}

.coti a{
  text-decoration: none;
  border: 1px solid;
  padding: 5px 30px 5px 30px;
  border-radius: 8px;
  transition: .5s;
  color: white;
}
.coti a:hover{
  background:#290b01;
  
}
.x{
  color: white;
}
.porfolio div{
  padding-bottom: 20px;
}


/* d79f91 */ 
/* fin atributos modal */
.navegacion a {
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding-right:10px;
	justify-content: space-between;
}
.navegacion a:hover {
	color:#e74c3c;
  transition: .5s;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: none;
  color: #e74c3c;
}
a.nav-link {color: #fff !important;}
.nav-link:hover {color: #e74c3c !important;}

.modal-backdrop
{
    opacity: 0.9 !important;
}
/* Galeria de imagenes y efectos */
.imagen img{
  width: 100%;
  height: auto;
  padding: 10px 10px 0 0;
}
.imagen{
  padding: 0px;
}
.galeria-imagenes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

 }
/*
.galeria-imagenes .imagen:hover{
  animation: 2s balanceo;
  cursor: pointer;
}

@keyframes balanceo{

  20%{
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90%{
    transform: scale(1.2) rotate(4deg);
  }

  40%, 60%, 80%{
    transform: scale(1.1) rotate(-3deg);
  }
}
*/
/* Fin de Galeria de imagenes y efectos */

/* Catalogo portada*/

.box{
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  
}
.text-box{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.text-box:before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;  
  transform: translateX(100%) scale(1) skewX(-45deg);
  transition: all .6s ease;
}
.text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 ;
}

.text h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  transform: translateY(-100%) scale(0);
  transition: all .6s ease;
}
.text p{
  color: #fff;
  font-size: 14px;
  transform: scale(2);
  opacity: 0;
  transition: all .6s ease;
}
.box:hover .text h2{
  transform: translateY(0) scale(1);

}
.box:hover .text p{
  transform: scale(1);
  opacity: 1;
}

.box:hover .text-box:before{
  opacity: 1;
  background: rgba(242, 38, 19, .8);
  transform: translateX(0) scale(1) skewX(-45deg);
  padding: 0 20px;
}
/* Fin de catalogo portada*/

/* Logica para video embebidos*/
.video-bg {
    /* Span the full grid */
    grid-area: var(--fullGrid);

    /* Re-size video to cover full screen while maintaining aspect ratio */
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    

    /* Display video below overlay */
    z-index: -1;
}
.video-bg::-webkit-media-controls {
    display: none !important;
}

/* Fin de logica para videos embebidos */
.footer{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  min-height: 80px;
}

.footer ul{
  list-style:none;
  display: flex;
}
.redes{
  height: auto;
  width: 25px;
  transform: translateY(0);
  transition: all 1s ease;
}
.redes:hover{
  transform: translateY(-15px);
}

@media (max-width: 768px){
  .galeria-imagenes{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px){
  .galeria-imagenes{
    grid-template-columns: 1fr;
  }

  .modal-lg { 
    max-width: 100% !important; 
  } 
}
.pruebas2{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Inicio Formulario cotizar */

.barra{
  background: #2F2B28;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 5px 5px 18px black;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-top: 50px;

}

@media (max-width: 768px){
  .barra{
    width: 95%;
  }
}

@media (max-width: 500px){
  .barra{
    width: 95%;
  }
}

/* Fin Formulario Cotizar */

/* Inicio footer */
.personalfooter{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 42% 20% 1fr;
  font-size: 15px;
  color: #BEBEBE;
}
.linea{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #B8B8B8;
  font-size: 15px;
  color: #BEBEBE;
}
.item1{
  grid-column: 1 / 2;
  justify-self: start;
}
.item2{
  grid-column: 2 / 3;
  justify-self: center;
  background-image: url(images/logochiquito.png);
}
.item3{
  grid-column: 3 / 4;
  justify-self: end;
}
.item4{
  grid-column: 2 / 3;
  justify-self: end;
}

/*Fin footer */

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;

}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.opa{
  background-color: rgb(23, 32, 42, 0.8 );
}
.avu{
  min-height: 600px;
}